---
description:      "طراحی قالب وردپرس ، طراحی پوسته وردپرس ، وردپرس ، طراحی ارزان قالب وردپرس ، طراحی ارزان پوسته وردپرس ، سئو و بهینه سازی وردپرس"
---
<div  class="display_none"><h1>{{site.description}}</h1></div>

{% include silder.html %}



<div class="main-content index-page clearfix ">
    <div class="post-lists">
        <div class="post-lists-body">
            <h3 class="title">: :&nbsp;&nbsp;لیست نمونه کارها&nbsp; : :</h3>

            {% assign Get_Post_project=site.posts | where:"layout","project" %}
            {% for posts in Get_Post_project %}
{% include post_line.html %}
            {% endfor %}
        </div>
    </div>
</div>

<div class="main-content index-page clearfix ">
    <div class="post-lists">
        <div class="post-lists-body">
            <h3 class="title">: :&nbsp;&nbsp;مقالات اموزشی&nbsp;&nbsp;: :</h3>

            {% assign Get_Post=site.posts | where:"layout","blog" %}
            {% for posts in Get_Post %}
          {% include post_line.html %}
            {% endfor %}
        </div>
        <a class="mr-more" title="مقالات اموزشی" href="/pages/blog/">مطالب بیشتر</a>
    </div>
</div>


