            <article class="post-list-item project_post"  itemscope itemtype="http://schema.org/Article">
                    <div class="post-list-item-container bg-{{posts.background }}">
                        <a itemprop="url"  href="{{ posts.url }}" title="{{ posts.title }}">
                        <img itemprop="image" class="item-thumb" src="{{posts.background-image}}" alt="{{ posts.title }}" title="{{ posts.title }}">
                        </a>
                        <div class="item-slant reverse-slant  bg-{{ posts.background }}"></div>
                        <div class="item-label">
                            <div class="item-title"><h2 itemprop="name"><a href="{{ posts.url }}" title="{{ posts.title }}"  data-hover="{{ posts.title }}">{{ posts.title }}</a></h2><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" ratio="1"><path fill="none" stroke="#000" stroke-width="1.1" d="M10.625,12.375 L7.525,15.475 C6.825,16.175 5.925,16.175 5.225,15.475 L4.525,14.775 C3.825,14.074 3.825,13.175 4.525,12.475 L7.625,9.375"></path><path fill="none" stroke="#000" stroke-width="1.1" d="M9.325,7.375 L12.425,4.275 C13.125,3.575 14.025,3.575 14.724,4.275 L15.425,4.975 C16.125,5.675 16.125,6.575 15.425,7.275 L12.325,10.375"></path><path fill="none" stroke="#000" stroke-width="1.1" d="M7.925,11.875 L11.925,7.975"></path></svg></div>
                            <div class="item-meta clearfix">
                                <div class="item-meta-cat">
                                    <span itemprop="author">آقای برنده</span>
                                    
                                    <h3 itemprop="headline">{{ posts.title }}</h3>
                                    <h2 itemprop="datePublished">{{ posts.date | date: '%Y-%m-%d' }}</h2>
                                    <a href="/tags#{{ posts.category }}" title="{{ posts.category }}" data-hover="{{ posts.category }}">{{ posts.category }}</a>
                                    <a href="/archives#{{ posts.date | date: '%Y'}}" title="{{ posts.date | date: '%Y'}}" data-hover="{{ posts.date | date: '%F %H:%M'}}"  >{{ posts.date | date: "%F %H:%M"}}</a></div>
                                     
                                               <div itemtype="https://schema.org/Organization" itemscope="itemscope" itemprop="publisher">
<link itemprop="url" href="{{site.url}}"> 
<h3 itemprop="name">{{ site.title }}</h3>
<span itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
<meta itemprop="url" content="{{ site.url }}/assets/images/logo.png">
</div>
                                                
                                                  <h3 itemprop="name">آقای برنده</h3> 
                                                
                                                </span> 
                                      
                                    </div>
                        </div>
                    </div>
            </article>
